body {
    color: gray;
}

a{
	color: white;
	text-decoration: none;
}

.jumbotron {
    background-color:blue;
    color:white;
    margin-top: 50px;
}

.titulo-servicios {
    padding: 80px 0 80px 0;
}

.section-slides-home {
    padding-top: 20px;
}

.img-slides-home {
    width: 100%;
	height: 500px;
	object-fit: cover;
    object-position: center;
}

.card-servicio {
    flex: 1 200px;
    padding: 20px 10px 20px 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.btn-adquirir {
    width: 100%;
    background-color: black;
    border-radius: 6px;
}

.btn-adquirir-icon {
    padding-right: 10px;
}

.card-precios {
    width: 18rem;
}

.card-precios-header {
    background-color: blue;
    color: white;
}

.tab-content {
    padding-top: 10px;
}

footer {
    padding: 40px 40px 40px 40px;
    background-color:blue;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}

.footer-address-icon {
    padding-right: 10px;
}

.rrssfooter {
    padding-bottom: 25px;
}

/* CSS precios.html */

ul.nav-pills a {
    color: gray;
}

.cambiocolor {
    color: gray;
}

.cambiocolor:hover {
    color: #0000ff;
}