body {
  color: #999999; }

nav .bg-dark {
  background-color: #f3f3f3;
  color: #999999; }

a {
  color: #FFFFFF;
  text-decoration: none; }

main {
  margin-top: 0px;
  margin-bottom: 0px; }

.jumbotron {
  background-color: #f3f3f3;
  color: #999999;
  margin-top: 0px;
  margin-bottom: 10px; }

.titulo-servicios {
  padding: 80px 0 80px 0; }

section#section-servicios {
  background-color: #f3f3f3;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-bottom: 50px; }

.section-slides-home {
  padding-top: 20px; }

.img-slides-home {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center; }

.card-servicio {
  flex: 1 200px;
  padding: 20px 10px 20px 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px; }

.btn-adquirir {
  width: 100%;
  background-color: #41cd52;
  color: #FFFFFF;
  border-radius: 6px; }

.btn-adquirir-icon {
  padding-right: 10px; }

.card-precios {
  width: 18rem; }

.card-precios-header {
  background-color: #41cd52;
  color: #FFFFFF; }

.tab-content {
  padding-top: 10px; }

footer {
  padding: 40px 40px 40px 40px;
  background-color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #999999; }

a.a-footer {
  color: #999999;
  text-decoration: none; }

.footer-address-icon {
  padding-right: 10px; }

.rrssfooter {
  padding-bottom: 25px; }

/* CSS precios.html */
ul.nav-pills a {
  color: #41cd52; }

.nav-pills .nav-link.active {
  background-color: #999999;
  color: #FFFFFF; }

.cambiocolor {
  color: #f3f3f3;
  background-color: none; }

.cambiocolor:hover {
  color: #999999;
  background-color: none; }
