$green-white: #41cd52;
$white: #FFFFFF;
$dark-grey: #999999;
$light-grey: #f3f3f3;
$grey: #808080;

@mixin margenes($top, $bottom){
    margin-top: $top;   
    margin-bottom: $bottom;
}

body {
    color: $dark-grey;
}

nav .bg-dark {
    background-color: $light-grey;
    color: $dark-grey;
}

a{
	color: $white;
	text-decoration: none;
}

main {
    @include margenes(0px, 0px)
}

.jumbotron {
    background-color: $light-grey;
    color: $dark-grey;
    @include margenes(0px, 10px);
}

.titulo-servicios {
    padding: 80px 0 80px 0;
}

section#section-servicios {
    background-color: $light-grey;
    @include margenes(0px, 50px);
    padding-bottom: 50px;
}

.section-slides-home {
    padding-top: 20px;
}

.img-slides-home {
    width: 100%;
	height: 500px;
	object-fit: cover;
    object-position: center;
}

.card-servicio {
    flex: 1 200px;
    padding: 20px 10px 20px 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.btn-adquirir {
    width: 100%;
    background-color: $green-white;
    color: $white;
    border-radius: 6px;
}

.btn-adquirir-icon {
    padding-right: 10px;
}

.card-precios {
    width: 18rem;
}

.card-precios-header {
    background-color:$green-white;
    color: $white;
}

.tab-content {
    padding-top: 10px;
}

footer {
    padding: 40px 40px 40px 40px;
    background-color: $white;
    @include margenes(50px, 0px);
    color: $dark-grey;
}

a.a-footer {
    color: $dark-grey;
	text-decoration: none;
}

.footer-address-icon {
    padding-right: 10px;
}

.rrssfooter {
    padding-bottom: 25px;
}

/* CSS precios.html */

ul.nav-pills a {
    color: $green-white;
}

.nav-pills .nav-link.active {
    background-color: $dark-grey;
    color: $white;
}

.cambiocolor {
    color: $light-grey;
    background-color: none;
}

.cambiocolor:hover {
    color: $dark-grey;
    background-color: none;
}